RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f [NC]
RewriteRule ^(.*)$ $1.php [L,QSA]
RewriteCond %{REQUEST_FILENAME}.htm -f [NC]
RewriteRule ^(.*)$ $1.htm [L,QSA]
RewriteCond %{REQUEST_FILENAME}.html -f [NC]
RewriteRule ^(.*)$ $1.html [L,QSA]

ErrorDocument 401 /pnmvc/pages/404.php
ErrorDocument 400 /pnmvc/pages/404.php
ErrorDocument 403 /pnmvc/pages/404.php
ErrorDocument 500 /pnmvc/pages/404.php
ErrorDocument 404 /pnmvc/pages/404.php
